@import "/src/styles/variables";
@import "/src/styles/mixins";

.about-title {
	@include page-title;
}

.about-main {
	text-align: center;
	color: $charcoal;
	margin: 50px 100px 100px 100px;
	padding: 0 100px;
}

.about-greeting {
	color: $primary;
	font-size: 3vw;
}

.about-para-block {
	font-size: 1.2vw;
	margin-top: 50px;
	letter-spacing: 1.2px;
}

.social-block {
	margin-top: 60px;
}
