@use "/src/styles/variables" as *;
@use "/src/styles/mixins" as *;

.policies-title {
	@include page-title;
}

.policies-section {
	margin: 50px 100px;
	@media screen and (max-width: 450px) {
		margin: 50px 10px;
	}
}

.policy-article {
	margin-top: 35px;
	p {
		margin: 20px 0 0 30px;
	}
}

.policy-sub-title {
	color: $primary;
}

.thank-you {
	text-align: center;
	margin-bottom: 100px;
	color: $primary;
}
