@import "./variables";

@mixin page-title {
	text-align: center;
	color: $primary;
	font-size: 4vw;
	margin-top: 50px;
	@media screen and (max-width: 700px) {
		font-size: 10vw;
	}
}

@mixin nav-link {
	color: $secondary;
	&:hover {
		color: #4198ca;
	}
}
