@import url("https://fonts.googleapis.com/css2?family=Bevan&family=Fjord+One&display=swap");

// Fonts
$bevan: "Bevan", cursive;
$fjord: "Fjord one", serif;

// Custom colors
$primary: #ade1ff;
$secondary: #fffafa;
$light: #f0ffff;
$charcoal: #373f51;

@import "bootstrap/scss/bootstrap";
