@use "_navbarTop.scss";
@use "_footer.scss";
@use "../pages/home/home";
@import url("https://fonts.googleapis.com/css2?family=Bevan&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Bevan", cursive;
}
