@use "_navbarTop.scss";
@use "_footer.scss";
@use "../pages/home/home";
@use "../pages/about/about";
@use "../pages/policies/policies";
@import url("https://fonts.googleapis.com/css2?family=Bevan&family=Fjord+One&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Bevan", cursive;
}

p {
	font-family: "Fjord one", serif;
}

a {
	text-decoration: none;
}
