@import "/src/styles/variables";
@import "/src/styles/mixins";

.contact-title {
	@include page-title;
}

.contact-section {
	margin: 100px;
	@media screen and (max-width: 650px) {
		margin: 50px 30px;
	}
}

.contact-form {
	font-family: "Fjord one", serif;
}

.form-label {
	font-family: "Bevan", cursive;
	color: $primary;
}

.form-btn {
	font-family: "Bevan", cursive;
	font-size: 1.2rem;
	@include nav-link;
}
