@import "/src/styles/variables";

.home-body {
	// background: url("/src/assets/images/bg_img_top.png") no-repeat center fixed;
	background-size: cover;
	height: 100vh;
	padding: 30px;
	@media screen and (max-width: 650px) {
		height: 90vh;
	}
}

.af-logo {
	margin-top: 1.5%;
	@media screen and (max-width: 650px) {
		margin-top: 15%;
	}
}

.cloud-btn-div {
	margin-top: 8%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	@media screen and (max-width: 650px) {
		margin-top: 25%;
	}
}

.cloud-btn-title {
	position: relative;
	top: 100px;
	left: 40px;
	font-weight: 900;
	letter-spacing: 1.5px;
	color: $primary;
	@media screen and (max-width: 650px) {
		font-size: 1.3rem;
		top: 65px;
		left: 20px;
	}
}

.cloud-btn-img {
	width: 250px;
	@media screen and (max-width: 650px) {
		width: 160px;
	}
}

.cloud-border-div {
	margin-top: -110px;
	@media screen and (max-width: 650px) {
		margin-top: -40px;
	}
}

.insta-div {
	background-color: $secondary;
	margin-top: -50px;
	height: 70vh;
	@media screen and (max-width: 650px) {
		margin-top: -25px;
	}
}
